<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jesse's sandpit</title>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
	<!-- Comment for the sake of commenting -->
</head>
<body>
<div class="dec-stripes">
    <div class="dec-stripe"></div>
    <div class="dec-stripe"></div>
</div>
<div class="wrapper">
    <div class="heading">
        <div class="content-container"><h1>Jesse's sandpit</h1></div>
    </div>

    <div class="main content-container">
        <p>This is content</p>
	    {{file}}
    </div>

    <div class="footer">
        <div class="content-container">
            <p>Copyright Jesse Green 2016 &#xa9;</p>
        </div>
    </div>
</div>

</body>
</html>