<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jesse's sandpit</title>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="dec-stripes">
    <div class="dec-stripe"></div>
    <div class="dec-stripe"></div>
</div>
<div class="wrapper">
    <div class="heading">
        <div class="content-container"><h1>Jesse's sandpit</h1></div>
    </div>

    <!--<div class="content-container">-->

    <!--</div>-->

    <!--<div class="footer">-->
        <!--<p>Placeholder</p>-->
    <!--</div>-->
</div>

</body>
</html>