// Color Palette

$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);

$slate-grey: rgba(47, 79, 79, 1);

// Descriptor definitions

$primary-color: $slate-grey;

// Color definitions

$light-theme-font-color: $black;
$light-theme-background-color: $white;

$dark-theme-font-color: $white;
$dark-theme-background-color: $black;